// $black:rgba(85,85,85,1);
// $white:#fff;
// $primary:blue;
// $seccondary:#730000;
// $light:#fff;
// $coral:rgba( 250,250,250,1 );
// $grey:rgba( 0,0,0,1 );
// $darkblue:rgba( 34,34,34,1 );
// $freen:rgba( 34,171,112,1 );
// $darkblue:rgba( 45,36,171, 0.04 );
// $new:rgba( 255,0,0,0, );
// $button:#f5443b ;
// $cyan:rgba( 45,36,171, 0.1 );
// $plum:rgba( 144,251,248,1 );


// $fw-r:400;
// $fw:500;
// $fw-s-b:600;
// $fw-b:700;

// $bj:#6757;
// $fz-x-lg:40px;
// $fz-md-lg:26px;
// $fz-sm:20px;
// $fz-x-sm:14px;
// $fz-lg:16px;
// $fz-big:64px;
// $fz-ms:12px;
// $fz-gl:24px;
// $fz-b:36px;
// $fz-b-c:54px;

// $black:black;
// $white:white;
// $bt-bg:#3695F1;
// $bt-bgh:#768767;
// $ft-bght:#b7beb9;
// $ft-bg:#08254F;

// $fz-lg:16px;
// $fz-b-c:54px;
// $f-bp:18px;
// $f-ht:48px;
// $f-hth:30px;

// $fw-m:500;
// $fw-r:400;
// $fw-s-b:600;
// $fw-b:700;

$f-fm-Poppins: Poppins;
$black:#000;
$fw-m:500;
$fw-r:400;
$fw-s-b:600;
$fw-b:700;

$fz-lg:16px;
$fz-b-c:54px;
$f-bp:18px;
$f-ht:48px;
$f-hth:30px;


$gatter-gap:0 15px;
$gatter-negative-gap:0 -15px;


$black:black;
$white:white;
$bt-bg:#3695F1;
$bt-bgh:#768767;
$ft-bght:#b7beb9;
$ft-bg:#08254F;