.button {
    border-radius: 35px;
    background:$b-bg-green;
    color:$white;
    font-size:$fz-lg;
    font-weight: $w-semibold;
    line-height:$line-height;
    padding: 16px 32px;
    
}

.ainkar {
    border-radius: 35px;
    background: #24AB70;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}