$fz-lg:16px;
$fz-ms:12px;
$fz-gl:24px;
$fz-x-sm:14px;
$fz-big:64px;
$fz-sm:20px;
$fz-b:36px;
$fz-x-lg:40px;


$w-regular: 400;
$w-medium: 500;
$w-semibold: 600;

$gatter-gap:0 15px;
$gatter-negative-gap:0 -15px;

$blacktwo: #222222;
$white: #fff;
$p-bg: #555555;
$b-bg-green: #24AB70;
$b-kbga: rgba(36, 171, 112, 0.10);
$b-bgrbga: rgba(36, 171, 112, 0.1);
$bghome: rgba(244, 251, 248, 1);
$bgboy: rgba(250, 250, 250, 1);
$bannerbg: rgba(36, 171, 112, 0.04);
$box: #E8E8E8;
$boxboy: #F4FBF8;
$star:hsla(0, 0%, 90%, 1);
$black:#000;
$red:red;
$box-bg:#FAFAFA;
$watch:hsla(154, 65%, 41%, 1);
$hover:#302d2d;
$line-height:24px;
$line-heightft:28px;
$line-height-t:30px;
$line-height-five:50px;
$line-height-footer:32px;
$radius:280px;


$f-OpenSans: Open Sans;

// $fz-md-lg:26px;
// $fz-b-c:54px;