

$fw-r:400;
$fw:500;
$fw-s-b:600;
$fw-b:700;

$bj:#6757;
$fz-x-lg:40px;
$fz-md-lg:26px;
$fz-sm:20px;
$fz-x-sm:14px;
$fz-lg:16px;
$fz-big:64px;
$fz-ms:12px;
$fz-gl:24px;
$fz-b:36px;
$fz-b-c:54px;

$gatter-gap:0 15px;
$gatter-negative-gap:0 -15px;
$border-radius:5px;
$button-bg:#45B871;
$point:#2BDE6F;
$menu-bg:#575859;
$white:#fff;
$banner-hbg:#242323;
$how:#D5EDF4;
$our-bg:#E4F5EB;
$banner-pbg:#6C6C6A;
$banner-time:#696969;
$banner--circle-p:#575859;
$box-bg:#F2F2F2;
$box-p:#8C8E90;
$anikar:#636262;
$soo:#4C68FF;
$red:hsla(0, 100%, 64%, 1);
$point-to:#FF4848;
$banner-circle:hsla(231, 100%, 65%, 1);
$saido:rgba(231, 231, 231, 0.70);
$border-radius: 15px;
$border-radius-two: 5px;
